$grid-gutter-width: 0px !default;

@import '~bootstrap/scss/bootstrap';

#root {
  @extend .container-fluid;
  font-family: tahoma;
}

.root {
  @extend .row;
  height: 100vh;
}


#actions {
  @extend .col-md-3;
  padding: 10px;
  overflow-y: scroll;

  .profile {
    margin-bottom: 1em;
  }
}

#map-container {
  @extend .col-md-9;
  height: 100%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.favorite {
  margin-right: 1em;
  
  .far.fa-star {
    color: #bbb;
  }

  .fas.fa-star {
    color: #ee0;
  }
}

.charger-list {
  @extend .d-none;
  @extend .d-md-block;
}

.card.charger {
  margin: 10px;

  .card-body {
    padding: 10px;
  }  

  h5 {
    font-size: 18px;
    margin: 0;
  }

  .card-text {
    font-size: 14px;
    color: #888;
  }
}